/* src/components/NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #3b2a23;
}

.navbar-links a {
  margin-left: 20px;
  text-decoration: none;
  color: #3b2a23;
  font-size: 16px;
  font-weight: bold;
}

.navbar-links a:hover {
  text-decoration: none;
}
