/* recipe-modal.css */
.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto; /* Dodajemo skrolovanje */
  color: #3b2a23;
}

.modal-content {
  position: relative;
  background-color: #ffffffbd;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  max-height: 90vh; /* Ograničavamo visinu modala */
  overflow-y: auto; /* Skrolovanje unutar modala */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.recipe-title {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}
.favorite-btn {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;

  cursor: pointer;
}
.favorite-btn svg {
  width: 30px;
  height: 30px;
}

.recipe-description {
  margin-bottom: 15px;
}
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.comments-title {
  margin-top: 20px;
}
.add-comment {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.add-comment textarea {
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 10px;
}
.add-comment button {
  border: none;
  background-color: #3b2a23;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  cursor: pointer;
  margin-top: 10px;
}
.comments-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 15px 0;
}
.comments-list li {
  background-color: #3b2a238d;
  border-radius: 8px;
  color: #fff;
  padding: 8px 16px;
}
.comments-list li strong {
  text-decoration: underline;
}
.comments-list li p {
  padding-left: 10px;
  margin-top: 5px;
}
